body{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f6;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
    width: 100%;
    padding: 0px 5%;
    font-size: 18px;
    font-weight: bold;
}
.menu-left{
    width: 50%;
    float: left;
}
.menu-left a{
    padding: 0px 20px;
    background-color: tomato;
    border: none;
    border-radius: 0px 15px;
}
.menu-left a:hover{
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 0px 15px;
}
.menu-left ul .active{
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 0px 15px;
}
.flaxible-container{
    display: flex;
}
.Dream Big{
    margin-top: 100px;
}

.top-header{
    margin-top: 5px;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    text-decoration: none;
    
}
h1{
    font-size: 50px;
}
.Programmer{
    color: orange;
}
.half-widht{
    width: 50%;
    padding: 0% 5%;
}
.half-widht img{
    max-width: 100%;
    float: right;
}
.bnt{
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-family: cursive;
    font-size: 20px;
    border: none;
    border-radius: 0px 21px;
    padding: 5px 25px;
}
.top-header{
    background-image: url(/images/mbanner2.jpg);
    background-repeat: no-repeat;
}
small{
    font-size: 22px;
}
.s-2 img{
    float: left;
}
.rose{
    background-image: url(/images/rose3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    text-align: justify;
}
.expariance{
    padding: 0% 3%;
    background-color: #f6f5f6;
    background-image: url(/images/rose2.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.expariance-text{
    background-image: linear-gradient(tomato, rgb(156, 9, 95));
    border-radius: 0% 98px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,3);
    color: seashell;
    width: 300px;
    text-align: center;
    margin-left: 2%;
}
.exp{
    text-align: center;
    width: 100%;
    padding: 0%;
    background-color: rgb(255, 249, 221);
    margin: 15px;
    box-shadow: 3px 5px 13px rgb(170, 167, 167) ;
    border-radius: 35% 35% 0px 0px;
}
.exp p{
    text-align: justify;
    padding: 0% 5%;
}
}
footer>p{
    text-align: center;    
}

